body
  color rgba(0, 0, 0, 0.8)
  letter-spacing -0.02em
  font-weight 400
  font-style normal
  font-size 18px
  line-height 1.4

article
  width 70%
  font-family serif
  margin 0 auto

  h2
    font-family sans-serif
    font-weight  700
    font-size 36px
    line-height 1.2
    margin-bottom 3px

  a
    color inherit

  li
    margin-left 30px
    margin-bottom 12px
    padding-top 2px
