doctype html
html
  head
    meta(charset='utf-8')
    title iojs.jp-blog
    link(href='index.css', rel='stylesheet', type='text/css')
  body
    h1 iojs.jp-blog
    script(src='index.js', type='text/javascript')
