'2015-05-15':
  title: 'io.js ウィークリーアップデート 2015/05/15'
  description: 'Node Foundation への参加について'
  pubDate: '2015-05-15'

'2015-05-08':
  title: 'io.js ウィークリーアップデート 2015/05/08'
  description: 'io.js 2.0のリリース'
  pubDate: '2015-05-08'

'2015-05-01':
  title: 'io.js ウィークリーアップデート 2015/05/01'
  description: 'io.js 2.0 RC、io.js/node.jsのコードの収束計画、他多数'
  pubDate: '2015-05-01'

'2015-04-24':
  title: 'io.js ウィークリーアップデート 2015/04/24'
  description: 'io.js 1.8.1 リリース、TC（技術委員会）の新規メンバーの提案、コミュニティアップデート、イベント、他多数'
  pubDate: '2015-04-24'

'2015-04-17':
  title: 'io.js ウィークリーアップデート 2015/04/17'
  description: 'SealHandleScope API、ARMサポート改善、npmプライベートモジュール'
  pubDate: '2015-04-17'

'2015-04-10':
  title: 'io.js ウィークリーアップデート 2015/04/10'
  description: '1.6.4 リリース, Android対応, Node Foundationの開発ポリシーの草案 他'
  pubDate: '2015-04-10'

'2015-04-03':
  title: 'io.js ウィークリーアップデート 2015/04/03'
  description: 'v1.6.3 リリース, RxJS がサポート開始, 和解に向けての動き 他'
  pubDate: '2015-04-03'

'2015-03-27':
  title: 'io.js ウィークリーアップデート 2015/03/27'
  description: '1.6.2 リリース, Node.js Technical Governance の提案 他'
  pubDate: '2015-03-27'

'2015-03-20':
  title: 'io.js ウィークリーアップデート 2015/03/20'
  description: '1.6 リリース, browserify と express のサポート, SmartOS と FreeBSD 向けビルド 他'
  pubDate: '2015-03-20'

'2015-03-13':
  title: 'io.js ウィークリーアップデート 2015/03/13'
  description: '1.5.1 リリース, コミュニティの動向, イベントの告知 他'
  pubDate: '2015-03-13'

'2015-03-06':
  title: 'io.js ウィークリーアップデート 2015/03/06'
  description: '1.5.0 リリース, Tessel2 のネイティブサポート, PayPal や Walmart によるサポート 他'
  pubDate: '2015-03-06'

'reconciliation_proposal':
  title: '和解のプロポーザル'
  description: 'mikeal による io.js と node.js の和解プロポーザルの日本語訳'
  pubDate: '2015-02-27'

'2015-02-27':
  title: 'io.jsウィークリーアップデート 2015/2/27'
  description: 'ARMv8, C++ Streams, 1.4.1リリース, 和解へのプロポーザル　他'
  pubDate: '2015-02-27'

'2015-02-20':
  title: 'io.jsウィークリーアップデート 2015/2/20'
  description: '1.3.0リリース、 MongoDB、 ロードマップ　他'
  pubDate: '2015-02-20'

'2015-02-13':
  title: 'io.jsウィークリーアップデート 2015/2/13'
  description: '29言語へのローカリゼーション、バージョン1.2.0リリース 他'
  pubDate: '2015-02-13'

'io.js_and_node.js_Foundation':
  title: 'io.jsとnode.js Foundation'
  description: '和解の現状'
  pubDate: '2015-02-10'

'2015-02-06':
  title: 'io.jsウィークリーアップデート 2015/2/6'
  description: 'Atomとnw.jsのio.js移行、Linux Tracing 他'
  pubDate: '2015-02-06'
