extends layout

block head
  title #{title}
  link(href='/index.css', rel='stylesheet', type='text/css')
  meta(property='og:title', content='iojs.jp blog')
  meta(property='og:type', content='article')
  meta(property='og:url', content='http://blog.iojs.jp/#{name}.html')
  meta(property='og:image', content='http://blog.iojs.jp/logo.png')
  meta(property='og:description', content='#{description}')
  meta(property='og:locale', content='ja_JP')

block body
  a(href='/')
    img.minilogo(src='/logo.png')
  article!= body
